.woofastcheck-holder {
	width: 640px;
	max-width: calc(100% - var(--wp--style--root--padding-left)) !important;
	margin: 0;

	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 1rem;

	@media screen and (max-width: 640px) {
		border-radius: 4px;
		padding: 0.5rem;
	}

	.button-nav {
		cursor: pointer;
		display: inline-block;
		padding: 1rem 2rem;
		font-size: 1rem;
		background-color: var(--wp--preset--color--vivid-cyan-blue);
		border: none;
		border-radius: 0.25rem;
		color: var(--wp--preset--color--base);

		@media screen and (max-width: 640) {
			padding: 0.5rem 1rem;
			font-size: 0.5rem;
			border-radius: 0.125rem;
		}
	}
}

@import "modules/select";
@import "modules/checkout";
