.woofastcheck-holder {
  width: 640px;
  max-width: 80vw;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}
.woofastcheck-holder .button-nav {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: var(--wp--preset--color--vivid-cyan-blue);
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--base);
}

.woofastcheck-select-product label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}
.woofastcheck-select-product label .description {
  padding: 1rem;
  display: block;
  text-align: justify;
  border-radius: 0.5rem;
}
.woofastcheck-select-product label .description .name {
  line-height: 1;
  font-size: 18px;
  padding-left: 2rem;
}
.woofastcheck-select-product label .description > * {
  margin: 0 0 1rem 0;
}
.woofastcheck-select-product label .description :last-child {
  margin-bottom: 0;
}
.woofastcheck-select-product label input {
  display: none;
}
.woofastcheck-select-product label:hover .description {
  background-color: var(--wc-secondary);
}
.woofastcheck-select-product label input + .description:before {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  content: "\f10c";
  font-size: 1.5rem;
  top: 5px;
  left: 1rem;
}
.woofastcheck-select-product label input:checked + .description {
  background-color: var(--wp--preset--color--pale-cyan-blue);
}
.woofastcheck-select-product label input:checked + .description:before {
  content: "\f05d";
}
.woofastcheck-select-product .button-holder {
  text-align: right;
}

.woofastcheck-checkout-form .col2-set {
  float: none !important;
  width: 100% !important;
}
.woofastcheck-checkout-form .woocommerce-checkout {
  width: 100%;
}
.woofastcheck-checkout-form .woocommerce-checkout h3 {
  margin: 0 0 1rem 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .hidden {
  display: none !important;
}
.woofastcheck-checkout-form .woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table {
  margin-top: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  margin-top: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper input {
  float: left;
  clear: left;
  margin-top: 4px;
}
.woofastcheck-checkout-form .woocommerce-checkout .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper label {
  float: left;
  clear: right;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 2px;
}
.woofastcheck-checkout-form .woocommerce-checkout .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper select {
  padding: 0.9em 1.1rem;
}
.woofastcheck-checkout-form .woocommerce-checkout .wc_payment_methods label {
  cursor: pointer;
}
.woofastcheck-checkout-form .button-holder {
  margin-bottom: 1rem;
}