body.woofastcheck {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.woofastcheck-holder {
  width: 640px;
  max-width: calc(100% - var(--wp--style--root--padding-left)) !important;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3%;
}
@media screen and (max-width: 640px) {
  .woofastcheck-holder {
    letter-spacing: 0;
  }
}
.woofastcheck-holder h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1.7%;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 640px) {
  .woofastcheck-holder h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
.woofastcheck-holder .button-nav {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: var(--wp--preset--color--vivid-cyan-blue);
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--base);
}
@media screen and (max-width: 640) {
  .woofastcheck-holder .button-nav {
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
    border-radius: 0.125rem;
  }
}
.woofastcheck-holder button[type=submit] {
  background-color: #1d1919;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.0784313725);
  color: white;
  border-radius: 8px;
  line-height: 12px;
  padding: 10px 32px;
  float: none;
}
.woofastcheck-holder button[type=submit]:hover {
  background: #444242;
}
.woofastcheck-holder button[type=submit]:active {
  background: #737171;
}

.woofastcheck-select-product label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}
@media screen and (max-width: 640px) {
  .woofastcheck-select-product label {
    margin-bottom: 0.5rem;
  }
}
.woofastcheck-select-product label .description {
  padding: 1rem;
  display: block;
  text-align: justify;
  border-radius: 0.5rem;
}
@media screen and (max-width: 640px) {
  .woofastcheck-select-product label .description {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 14px;
  }
}
.woofastcheck-select-product label .description .name {
  line-height: 1;
  font-size: 18px;
  padding-left: 2rem;
}
@media screen and (max-width: 640px) {
  .woofastcheck-select-product label .description .name {
    font-size: 14px;
    padding-left: 1rem;
  }
}
.woofastcheck-select-product label .description > * {
  margin: 0 0 1rem 0;
}
@media screen and (max-width: 640px) {
  .woofastcheck-select-product label .description > * {
    margin-bottom: 0.5rem;
  }
}
.woofastcheck-select-product label .description :last-child {
  margin-bottom: 0;
}
.woofastcheck-select-product label input {
  display: none;
}
.woofastcheck-select-product label:hover .description {
  background-color: var(--wc-secondary);
}
.woofastcheck-select-product label input + .description:before {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  content: "\f10c";
  font-size: 1.5rem;
  top: 5px;
  left: 1rem;
}
@media screen and (max-width: 640px) {
  .woofastcheck-select-product label input + .description:before {
    font-size: 1rem;
    top: 2.5px;
    left: 0.5rem;
  }
}
.woofastcheck-select-product label input:checked + .description {
  background-color: var(--wp--preset--color--pale-cyan-blue);
}
.woofastcheck-select-product label input:checked + .description:before {
  content: "\f05d";
}
.woofastcheck-select-product .button-holder {
  text-align: right;
}

.woofastcheck-checkout-form .woocommerce .woocommerce-billing-fields,
.woofastcheck-checkout-form .woocommerce .woocommerce-shipping-fields,
.woofastcheck-checkout-form .woocommerce .woocommerce-additional-fields,
.woofastcheck-checkout-form .woocommerce .woocommerce-order-review-holder,
.woofastcheck-checkout-form .woocommerce .woocommerce-NoticeGroup-checkout .woocommerce-error {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 21px 54px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 21px 54px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce .woocommerce-billing-fields,
.woofastcheck-checkout-form .woocommerce .woocommerce-shipping-fields,
.woofastcheck-checkout-form .woocommerce .woocommerce-additional-fields,
.woofastcheck-checkout-form .woocommerce .woocommerce-order-review-holder,
.woofastcheck-checkout-form .woocommerce .woocommerce-NoticeGroup-checkout .woocommerce-error {
    -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  }
}
.woofastcheck-checkout-form .col2-set {
  float: none !important;
  width: 100% !important;
}
.woofastcheck-checkout-form .woocommerce-checkout {
  width: 100%;
}
.woofastcheck-checkout-form .woocommerce-checkout h3 {
  margin: 0 0 1rem 0;
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce-checkout h3 {
    margin-bottom: 0.5rem;
    font-size: 18px;
  }
}
.woofastcheck-checkout-form .woocommerce-checkout .hidden {
  display: none !important;
}
.woofastcheck-checkout-form .woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table {
  margin-top: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  margin-top: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row-first,
.woofastcheck-checkout-form .woocommerce-checkout .form-row-last {
  width: 100%;
  float: none;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row-wrapper > * {
  width: 50%;
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce-checkout .form-row-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .woofastcheck-checkout-form .woocommerce-checkout .form-row-wrapper > * {
    width: 100%;
  }
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row {
  margin-top: 0;
  margin-bottom: 10px;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row > label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  /* identical to box height, or 143% */
  letter-spacing: -0.003em;
  /* dark/500 */
  color: #737171;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row > label .required {
  color: red;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper {
  display: block;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=text],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=email],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=tel],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=number],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper select,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
  height: 44px;
  background: #efefef;
  border: 1px solid #929090;
  border-radius: 8px;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=text]:focus,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=email]:focus,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=tel]:focus,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=number]:focus,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper select:focus,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper textarea:focus {
  background: #efefef;
  border: 1px solid #1d1919;
  border-radius: 8px;
  outline: none;
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=text],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=email],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=tel],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=number],
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper select,
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper textarea {
    font-size: 16px;
  }
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper textarea {
  height: 72px;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=radio] {
  float: left;
  clear: left;
  margin-top: 5px;
  width: 16px;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper input[type=radio] + label {
  float: left;
  clear: right;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 2px;
  width: calc(100% - 32px);
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper label.checkbox {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 2px;
  width: calc(100% - 32px);
  padding-left: 24px;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper label.checkbox input {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce-checkout .form-row .woocommerce-input-wrapper label.checkbox {
    font-size: 12px;
  }
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder .woocommerce-input-wrapper {
  position: relative;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder .woocommerce-input-wrapper label {
  display: block;
  padding: 12px 16px 12px 40px;
  margin: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder .woocommerce-input-wrapper label .checkmark {
  top: 14px;
  left: 16px;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder input:checked ~ .checkmark {
  background-color: #1d1919;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder input:checked ~ .checkmark:after {
  display: block;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1.6px solid #929090;
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.woofastcheck-checkout-form .woocommerce-checkout .form-row.checkbox-holder input ~ .checkmark {
  background-color: transparent;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper {
  display: block;
  position: relative;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 10px;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper label {
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  padding: 12px 16px 12px 40px;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper input:checked ~ .checkmark {
  background-color: #1d1919;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper input:checked ~ .checkmark:after {
  display: block;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1.6px solid #929090;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper input ~ .checkmark {
  background-color: transparent;
}
.woofastcheck-checkout-form .woocommerce-checkout .radio-wrapper .checkmark {
  top: 14px;
  left: 16px;
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce-checkout .woocommerce-checkout-review-order {
    font-size: 14px;
  }
  .woofastcheck-checkout-form .woocommerce-checkout .woocommerce-checkout-review-order td,
.woofastcheck-checkout-form .woocommerce-checkout .woocommerce-checkout-review-order th {
    padding: 0.5rem 0.5rem 0.5rem 0 !important;
  }
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .woocommerce-checkout .woocommerce-checkout-payment {
    margin-top: 2rem !important;
  }
}
.woofastcheck-checkout-form .woocommerce-checkout .wc_payment_methods label {
  cursor: pointer;
}
.woofastcheck-checkout-form .woocommerce-checkout.woocommerce-invalid-required-field input {
  border-color: #dc1313;
}
.woofastcheck-checkout-form .button-holder {
  margin-bottom: 1rem;
}
@media screen and (max-width: 640px) {
  .woofastcheck-checkout-form .button-holder {
    margin-bottom: 0.5rem;
  }
}
.woofastcheck-checkout-form .woocommerce-NoticeGroup-checkout .woocommerce-error {
  margin-top: 0;
  background-color: #ffdad8 !important;
  color: #dc1313 !important;
}
.woofastcheck-checkout-form .woocommerce-NoticeGroup-checkout .woocommerce-error li:last-child {
  margin-bottom: 0 !important;
}