@mixin radioStyling {
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked ~ .checkmark {
			background-color: #1d1919;
		}

		&:checked ~ .checkmark:after {
			display: block;
		}
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		background-color: #fff;
		border: 1.6px solid #929090;

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 5px;
			top: 0;
			width: 5px;
			height: 10px;
			border: 1px solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	input ~ .checkmark {
		background-color: transparent;
	}
}

.woofastcheck-checkout-form {
	// display: none;

	.woocommerce {
		.woocommerce-billing-fields,
		.woocommerce-shipping-fields,
		.woocommerce-additional-fields,
		.woocommerce-order-review-holder,
		.woocommerce-NoticeGroup-checkout .woocommerce-error {
			padding: 1rem;
			border: none;
			border-radius: 0.5rem;
			margin-bottom: 1rem;

			box-shadow: 0px 21px 54px rgba(0, 0, 0, 0.08);

			@media screen and (max-width: 640px) {
				box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
			}
		}
	}

	.col2-set {
		float: none !important;
		width: 100% !important;
	}

	.woocommerce-checkout {
		width: 100%;

		h3 {
			margin: 0 0 1rem 0;

			@media screen and (max-width: 640px) {
				margin-bottom: 0.5rem;
				font-size: 18px;
			}
		}

		.hidden {
			display: none !important;
		}

		.shop_table.woocommerce-checkout-review-order-table {
			margin-top: 0;
		}

		.woocommerce-billing-fields__field-wrapper {
			margin-top: 0;
		}

		.form-row-first,
		.form-row-last {
			width: 100%;
			float: none;
		}

		.form-row-wrapper {
			display: flex;
			gap: 1rem;
			> * {
				width: 50%;
			}

			@media screen and (max-width: 640px) {
				flex-direction: column;
				gap: 0;
				> * {
					width: 100%;
				}
			}
		}

		.form-row {
			margin-top: 0;
			margin-bottom: 10px;
			> label {
				font-family: "Manrope";
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 8px;
				/* identical to box height, or 143% */

				letter-spacing: -0.003em;

				/* dark/500 */

				color: #737171;

				.required {
					color: red;
				}
			}
			.woocommerce-input-wrapper {
				display: block;
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				input[type="number"],
				select,
				textarea {
					box-sizing: border-box;
					padding: 12px 16px;
					height: 44px;
					background: #efefef;
					border: 1px solid #929090;
					border-radius: 8px;

					&:focus {
						background: #efefef;
						border: 1px solid #1d1919;
						border-radius: 8px;
						outline: none;
					}

					@media screen and (max-width: 640px) {
						font-size: 16px;
					}
				}

				textarea {
					height: 72px;
				}

				input[type="radio"] {
					float: left;
					clear: left;
					margin-top: 5px;
					width: 16px;
				}

				input[type="radio"] {
					+ label {
						float: left;
						clear: right;
						cursor: pointer;
						font-size: 14px;
						margin-bottom: 2px;
						width: calc(100% - 32px);
					}
				}

				label.checkbox {
					position: relative;
					font-size: 14px;
					cursor: pointer;
					font-size: 14px;
					margin-bottom: 2px;
					width: calc(100% - 32px);
					padding-left: 24px;

					input {
						position: absolute;
						top: 0px;
						left: 0px;
					}

					@media screen and (max-width: 640px) {
						font-size: 12px;
					}
				}
			}

			&.checkbox-holder {
				.woocommerce-input-wrapper {
					position: relative;
					border: 1px solid #d0d0d0;
					border-radius: 8px;
					padding: 0;
					label {
						display: block;
						padding: 12px 16px 12px 40px;
						margin: 0;

						.checkmark {
							top: 14px;
							left: 16px;
						}
					}
				}

				@include radioStyling;
			}
		}

		.radio-wrapper {
			display: block;
			position: relative;
			border: 1px solid #d0d0d0;
			border-radius: 8px;
			padding: 0;
			margin-bottom: 10px;

			label {
				cursor: pointer;
				margin: 0;
				font-size: 14px;
				padding: 12px 16px 12px 40px;
			}

			@include radioStyling;

			.checkmark {
				top: 14px;
				left: 16px;
			}
		}

		.woocommerce-checkout-review-order {
			@media screen and (max-width: 640px) {
				font-size: 14px;

				td,
				th {
					padding: 0.5rem 0.5rem 0.5rem 0 !important;
				}
			}
		}

		.woocommerce-checkout-payment {
			@media screen and (max-width: 640px) {
				margin-top: 2rem !important;
			}
		}

		.wc_payment_methods {
			label {
				cursor: pointer;
			}
		}

		&.woocommerce-invalid-required-field {
			input {
				border-color: #dc1313;
			}
		}
	}

	.button-holder {
		margin-bottom: 1rem;
		@media screen and (max-width: 640px) {
			margin-bottom: 0.5rem;
		}
	}

	.woocommerce-NoticeGroup-checkout {
		.woocommerce-error {
			margin-top: 0;
			background-color: #ffdad8 !important;
			color: #dc1313 !important;
			li {
				&:last-child {
					margin-bottom: 0 !important;
				}
			}
		}
	}
}
