.woofastcheck-checkout-form {
	// display: none;
	.col2-set {
		float: none !important;
		width: 100% !important;
	}

	.woocommerce-checkout {
		width: 100%;

		h3 {
			margin: 0 0 1rem 0;
		}

		.hidden {
			display: none !important;
		}

		.shop_table.woocommerce-checkout-review-order-table {
			margin-top: 0;
		}

		.woocommerce-billing-fields__field-wrapper {
			margin-top: 0;
		}

		.woocommerce-additional-fields__field-wrapper {
			.woocommerce-input-wrapper {
				input {
					float: left;
					clear: left;
					margin-top: 4px;
				}
				label {
					float: left;
					clear: right;
					cursor: pointer;
					font-size: 14px;
					margin-bottom: 2px;
				}
				select {
					padding: 0.9em 1.1rem;
				}
			}
		}

		.wc_payment_methods {
			label {
				cursor: pointer;
			}
		}
	}

	.button-holder {
		margin-bottom: 1rem;
	}
}
