.woofastcheck-checkout-form {
	// display: none;
	.col2-set {
		float: none !important;
		width: 100% !important;
	}

	.woocommerce-checkout {
		width: 100%;

		h3 {
			margin: 0 0 1rem 0;

			@media screen and (max-width: 640px) {
				margin-bottom: 0.5rem;
				font-size: 18px;
			}
		}

		.hidden {
			display: none !important;
		}

		.shop_table.woocommerce-checkout-review-order-table {
			margin-top: 0;
		}

		.woocommerce-billing-fields__field-wrapper {
			margin-top: 0;
		}
		.form-row {
			> label {
				@media screen and (max-width: 640px) {
					font-size: 14px;
				}
			}
			.woocommerce-input-wrapper {
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				input[type="number"],
				select {
					border-radius: 4px;
					border-width: 1px;
					padding: 0.9em 1.1rem;

					@media screen and (max-width: 640px) {
						padding: 0.9em 0.55rem;
					}
				}

				input[type="radio"] {
					float: left;
					clear: left;
					margin-top: 5px;
					width: 16px;
				}

				input[type="radio"] {
					+ label {
						float: left;
						clear: right;
						cursor: pointer;
						font-size: 14px;
						margin-bottom: 2px;
						width: calc(100% - 32px);
					}
				}

				label.checkbox {
					position: relative;
					font-size: 14px;
					cursor: pointer;
					font-size: 14px;
					margin-bottom: 2px;
					width: calc(100% - 32px);
					padding-left: 24px;

					input {
						position: absolute;
						top: 0;
						left: 0;
					}

					@media screen and (max-width: 640px) {
						font-size: 12px;
					}
				}
			}
		}

		.woocommerce-checkout-review-order {
			@media screen and (max-width: 640px) {
				font-size: 14px;

				td,
				th {
					padding: 0.5rem 0.5rem 0.5rem 0 !important;
				}
			}
		}

		.woocommerce-checkout-payment {
			@media screen and (max-width: 640px) {
				margin-top: 2rem !important;
			}
		}

		.wc_payment_methods {
			label {
				cursor: pointer;
			}
		}
	}

	.button-holder {
		margin-bottom: 1rem;
		@media screen and (max-width: 640px) {
			margin-bottom: 0.5rem;
		}
	}
}
